<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Clima</title>
    <link rel="stylesheet" href="/css/estilos.css">    
</head>
<body>
    <!-- INICIO CONTENIDO -->
    <div class="container">
        <div class="row" id="centrar">
            {{> header }}
            {{> form }}
            {{> footer }}
        </div>
    </div>
    <!-- FIN CONTENIDO -->
    <script src="/js/js.js"></script>
</body>
</html>